*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(132, 239, 255);
    animation: animationBg 10s linear infinite;
}

@keyframes animationBg{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

section .loader{
    position: relative;
    width: 150px;
    height: 150px;
    /* background-color: yellow; */
}

section .loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg*var(--i)));
}

section .loader span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(48, 138, 248);
    box-shadow: 0 0 10px rgb(48, 138, 248),
                0 0 20px rgb(48, 138, 248),
                0 0 40px rgb(48, 138, 248),
                0 0 60px rgb(48, 138, 248),
                0 0 80px rgb(48, 138, 248),
                0 0 100px rgb(48, 138, 248);

    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}